html,
body {
    margin: 0;
}

.app-background {
    position: fixed;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.app-background-1 {
    position: absolute;
    top: 10vw;
    left: 23vw;
    background: radial-gradient(circle at 20% -25%, #aa32af 0, #25b4ce 22.95%, #800597 70.4%, #b4004c 100%);
    opacity: .2;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2;
    -webkit-animation-name: floating-1;
    animation-name: floating-1;
    -webkit-animation-duration: 150s;
    animation-duration: 150s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
}

@-webkit-keyframes floating-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    20% {
        -webkit-transform: translate(-90%, 90%);
        transform: translate(-90%, 90%)
    }

    40% {
        -webkit-transform: translate(50%, -80%);
        transform: translate(50%, -80%)
    }

    60% {
        -webkit-transform: translate(-70%, -30%);
        transform: translate(-70%, -30%)
    }

    80% {
        -webkit-transform: translate(-10%, -20%);
        transform: translate(-10%, -20%)
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes floating-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    20% {
        -webkit-transform: translate(-90%, 90%);
        transform: translate(-90%, 90%)
    }

    40% {
        -webkit-transform: translate(50%, -80%);
        transform: translate(50%, -80%)
    }

    60% {
        -webkit-transform: translate(-70%, -30%);
        transform: translate(-70%, -30%)
    }

    80% {
        -webkit-transform: translate(-10%, -20%);
        transform: translate(-10%, -20%)
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

.app-background-2 {
    position: absolute;
    bottom: -220px;
    left: 10px;
    background: radial-gradient(circle at 20% -25%, #aa32af 0, #25b4ce 22.95%, #800597 70.4%, #b4004c 100%);
    opacity: .2;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    -webkit-filter: blur(15px);
    filter: blur(15px);
    z-index: 2;
    -webkit-animation-name: floating-2;
    animation-name: floating-2;
    -webkit-animation-duration: 150s;
    animation-duration: 150s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
}

@-webkit-keyframes floating-2 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    25% {
        -webkit-transform: translate(120px, 120px);
        transform: translate(120px, 120px)
    }

    50% {
        -webkit-transform: translate(-120px);
        transform: translate(-120px)
    }

    75% {
        -webkit-transform: translateY(-120px);
        transform: translateY(-120px)
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes floating-2 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    25% {
        -webkit-transform: translate(120px, 120px);
        transform: translate(120px, 120px)
    }

    50% {
        -webkit-transform: translate(-120px);
        transform: translate(-120px)
    }

    75% {
        -webkit-transform: translateY(-120px);
        transform: translateY(-120px)
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

.app-background-3 {
    position: absolute;
    bottom: -130px;
    right: -100px;
    background: radial-gradient(circle at 20% -25%, #aa32af 0, #25b4ce 22.95%, #800597 70.4%, #b4004c 100%);
    opacity: .3;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    -webkit-filter: blur(35px);
    filter: blur(35px);
    z-index: 0;
    -webkit-animation-name: floating-3;
    animation-name: floating-3;
    -webkit-animation-duration: 180s;
    animation-duration: 180s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
}

@-webkit-keyframes floating-3 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    20% {
        -webkit-transform: translate(-10%, 20%);
        transform: translate(-10%, 20%)
    }

    40% {
        -webkit-transform: translate(30%, -30%);
        transform: translate(30%, -30%)
    }

    60% {
        -webkit-transform: translate(-20%, -30%);
        transform: translate(-20%, -30%)
    }

    80% {
        -webkit-transform: translate(-10%, -20%);
        transform: translate(-10%, -20%)
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes floating-3 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    20% {
        -webkit-transform: translate(-10%, 20%);
        transform: translate(-10%, 20%)
    }

    40% {
        -webkit-transform: translate(30%, -30%);
        transform: translate(30%, -30%)
    }

    60% {
        -webkit-transform: translate(-20%, -30%);
        transform: translate(-20%, -30%)
    }

    80% {
        -webkit-transform: translate(-10%, -20%);
        transform: translate(-10%, -20%)
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

/* ::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;
} */